img.disabled
{
    opacity:0.3;
}

/* Соглашение об использовании Z-индексов (слой и допустимые для него значения):
 * Слой маски        1000 ... 1999
 * Слой диалогового окна  3000 ... 3999
 * Слой всплыв. элементов  5000 ... 5999
 * Слой завешивания     7000 ... 7999
 * Слой тестовой сборки   9000 ... 9999
 */

/* Панель состояния. */
.jepRia-StatusBar {
  font: 11px arial,tahoma,helvetica,sans-serif;
  vertical-align: middle;
  horizontal-align: left;
  margin: 0;
  padding: 2px;
  border-style: solid;
  border-color: #99BBE8;
  border-width: 1px;
  overflow: hidden;
  background-color: #D0DEF0;
  background-image: url("../images/themes/default/toolbar/bg.gif");

  height: 25px;
}


/* Инструментальная панель. */
.jepRia-ToolBar {
  font: 11px arial,tahoma,helvetica,sans-serif;
  vertical-align: middle;
  horizontal-align: left;
  margin: 0;
  padding: 2px;
  border-style: solid;
  border-color: #99BBE8;
  border-width: 0 1px 1px 1px;
  overflow: hidden;
  background-color: #D0DEF0;
  background-image: url("../images/themes/default/toolbar/bg.gif");
  background-position: 0 5%;
}

/* Таблица инструментальной панели должна иметь высоту 100%, чтобы элементы инструментальной панели растягивались по высоте. */
.jepRia-ToolBar table {
  height: 100%;
}

/* Ячейки таблицы инструментальной панели должны иметь высоту 100%, элементы инструментальной панели растягивались по высоте. */
.jepRia-ToolBar td {
  height: 100%;
}

/* Кнопка инструментальной панели. */
.jepRia-ToolBar .gwt-Button {
  font: 11px arial,tahoma,verdana,helvetica;
  height: 100%;
  padding: 1px 1px;
  background-color: transparent;
  background-image: none;
  border: solid 1px transparent;
}

.jepRia-ToolBar .gwt-Button:hover {
  border: solid 1px #99BBE8;
  background: #DDEFFF;
}

.jepRia-ToolBar .gwt-Button:active {
  border-top: solid 1px #99BBE8;
  border-bottom: solid 1px white;
  border-left: solid 1px #99BBE8;
  border-right: solid 1px white;
  background: #B6CBE4;
}

.jepRia-ToolBar .gwt-Button table {
  height: auto;
}

/* Недоступная кнопка инструментальной панели. */
.jepRia-ToolBar .gwt-Button.jepRia-JepButton-buttonDisabled {
  opacity: 0.3; /* Css standard. */
  -moz-opacity: 0.3; /* Very old mozilla/netscape browsers. */
  -khtml-opacity: 0.3; /* Very old safari browsers. */
  cursor: default; /* IE. */
  filter: alpha(opacity=30); /* IE. */
}

.jepRia-ToolBar .gwt-Button.jepRia-JepButton-buttonDisabled:hover {
  border: solid 1px transparent;
  background-color: transparent;
}

/* Текст на кнопке инструментальной панели. */
.jepRia-ToolBar .gwt-Button .gwt-Label {
  white-space: nowrap;
  font: 11px arial,tahoma,verdana,helvetica;
}

/* Разделитель инструментальной панели. */
.jepRia-ToolBar .jepRia-Separator {
  background-position: center;
  background-repeat: repeat;
  display: block;
  font-size: 1px;
  height: 100%;
  width: 2px;
  overflow: hidden;
  cursor: default;
  margin: 0 2px 0;
  border: 0;
  background-image: url(../images/themes/default/grid/grid-blue-split.gif);
}

/* Отключение кнопки очистки в IE для всех текстовых полей. */
input[type=text]::-ms-clear {
  display: none;
}

/* Панель постраничного листания списка. */
.jepRia-PagingBar {
  font: 11px arial, tahoma, helvetica, sans-serif;
  vertical-align: middle;
  horizontal-align: left;
  margin: 0;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #99BBE8;
  border-width: 1px;
  overflow: hidden;
  background-color: #D0DEF0;
  background-image: url("../images/themes/default/toolbar/bg.gif");
}
.jepRia-PagingBar table {
  height: 100%;
}
.jepRia-PagingBar td {
  height: 100%;
  vertical-align: middle;
}
.jepRia-PagingBar .jepRia-PagingBar-pageNumber {
  margin: 0px 5px 0px 5px;
}
.jepRia-PagingBar .gwt-Button {
  font: 11px arial, tahoma, verdana, helvetica;
  height: 100%;
  padding: 1px 1px;
  background-color: transparent;
  background-image: none;
  border: solid 1px transparent;
}
.jepRia-PagingBar .gwt-Button:hover {
  border: solid 1px #99BBE8;
  background: #DDEFFF;
}
.jepRia-PagingBar .gwt-Button:active {
  border-top: solid 1px #99BBE8;
  border-bottom: solid 1px white;
  border-left: solid 1px #99BBE8;
  border-right: solid 1px white;
  background: #B6CBE4;
}
.jepRia-PagingBar .gwt-Button table {
  height: auto;
}
.jepRia-PagingBar .gwt-Button.buttonDisabled {
  opacity: 0.3; /* Css standard. */
  -moz-opacity: 0.3; /* Very old mozilla/netscape browsers. */
  -khtml-opacity: 0.3; /* Very old safari browsers. */
  cursor: default; /* IE. */
  filter: alpha(opacity = 30); /* IE. */
}
.jepRia-PagingBar .gwt-Button.buttonDisabled:hover {
  border: solid 1px transparent;
  background-color: transparent;
}
/* Текст на кнопке инструментальной панели постраничного листания списка. */
.jepRia-PagingBar .gwt-Button .gwt-Label {
  white-space: nowrap;
  font: 11px arial, tahoma, verdana, helvetica;
}
/* Разделитель инструментальной панели постраничного листания списка. */
.jepRia-PagingBar .jepRia-Separator {
  background-position: center;
  background-repeat: repeat;
  display: block;
  font-size: 1px;
  height: 100%;
  width: 2px;
  overflow: hidden;
  cursor: default;
  margin: 0 2px 0;
  border: 0;
  background-image: url(../images/themes/default/grid/grid-blue-split.gif);
}

/* JepGrid - включение автоматических переносов строк в ячейке. */
.jepRia-Grid-normalWrap {
  white-space: normal;
}

.jepRia-Grid-normalWrap div {
  white-space: normal;
}
/* JepGrid - стиль для всех ячеек данных. */
.jepRia-Grid-Cell div {
}
/* JepGrid - стиль для ячеек данных с выравниванием по левому краю. */
.jepRia-Grid-Cell-AlignLeft div {
  text-align: left;
}  
/* JepGrid - стиль для ячеек данных с выравниванием по правому краю. */
.jepRia-Grid-Cell-AlignRight div {
  text-align: right;
}
/* JepGrid - стиль для ячеек данных с выравниванием по центру. */
.jepRia-Grid-Cell-AlignCenter div {
  text-align: center;
}
/* JepGrid - стиль для ячеек данных с вертикальным выравниванием по центру. */
.jepRia-Grid-Cell-VAlignMiddle div {
  vertical-align: middle;
}  
/* JepGrid - стиль для ячеек данных с вертикальным выравниванием по верхнему краю. */
.jepRia-Grid-Cell-VAlignTop div {
  vertical-align: top;
}
/* JepGrid - стиль для ячеек данных с вертикальным выравниванием по нижнему краю. */
.jepRia-Grid-Cell-VAlignBottom div {
  vertical-align: bottom;
}

/* Элемент для измерения ширины текста в столбцах. */
.jepRia-ResizableHeader-measuringElement {
  padding-left: 5px;
  padding-right: 3px;
  text-align: left;
  color: black;
  text-shadow: none;
  font: 11px tahoma, arial, verdana, sans-serif;
  white-space: nowrap;
  position: absolute;
  left: -1000px;
  top: -1000px;
}

/* Элемент, изменяющий ширину столбцов списочной формы. */
.jepRia-ResizableHeader-ruler {
  position: absolute;
  top: 0px;
  width: 1px;
  background-color: black;
}

/* Кнопка вызова меню настройки отображения и порядка следования столбцов списочной формы. */
.jepRia-ResizableHeader-setupButton {
  position: absolute;
  border-width: 1px;
  cursor: pointer;
}

/* Кнопка закрытия меню настройки отображения и порядка следования столбцов списочной формы. */
.jepRia-ResizableHeader-closeButton {
  position: absolute;
  right: 4px;
  top: -5px;
  cursor: pointer;
}

/* Кнопка навигации в меню настройки отображения и порядка следования столбцов списочной формы. */
.jepRia-ResizableHeader-navigationButton {
  position: absolute;
  top: 8px;
  float: right;
  width: 15px;
  border-left: 1px dotted #c3daf9;
  border-right: 1px dotted #c3daf9;
  background-color: #f0f0f0;
}

/* Меню настройки отображения и порядка следования столбцов списочной формы. */
.jepRia-ResizableHeader-menu {
  z-index:3200;
}

/* Кнопка вызова меню настройки отображения и порядка следования столбцов списочной формы. */
.jepRia-ResizableHeader-menuBar {
  background-color: #f0f0f0;
  float: left;
}

.jepRia-MaskPanel {
  border: 1px solid #99bbe8;
  padding: 3px;
  background: white;
  position: absolute; 
  overflow: visible; 
  visibility: visible; 
  top: 47%; 
  left: 45%;
}

.jepRia-MaskPanel-glass {
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.jepRia-MaskPanel-content {
  padding: 0px 5px;
}

.jepRia-disabledLayer {
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 7100;
}

/* Перекрытие стиля прозрачности для всплывающего окна. */
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
  z-index: 1100;
}

/* Контейнер на весь экран для помещения блока в центр */
.jepRia-fullScreenContainer {
  width: 100%;
  height: 100%;
  position:absolute;
  text-align:center;
}

/* Центральный блок в контейнере */
.jepRia-fullScreenContainerCenter {
  position: relative;
  display: inline-block;
  
  top: 50%;
}

/* Индикатор загрузки модуля. */
.jepRia-loadingProgress {
  background: white;
  z-index: 7200;
  border: 1px solid #bbb;
  
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  font-family: arial, helvetica, tahoma, sans-serif;
  text-align: left;
  
  margin-top: -24px; /* half of height, height is 32(img)+8(padding)+8(padding) */
  
  padding: 8px;
}
.jepRia-loadingProgressImg {
  margin-right: 8px; /* equals parent padding */
  float: left;
}
.jepRia-loadingProgress div {
  float: left;
}
.jepRia-loadingProgress p {
  margin: 0px;
}
.jepRia-loadingMessage {
  font: normal 10px arial, tahoma, sans-serif;
}

/* Most GWT widgets already have a style name defined. */
.gwt-DialogBox {
  width: 400px;
  z-index: 3100;
}

/* Стиль для центрального контейнера ErrorDialog, перекрывающий умолчательный стиль GWT. */
.jepRia-extras-WindowBox .dialogMiddleCenter {
  padding: 0px;
}
/* Стиль для дополнительного контейнера ErrorDialog, содержащего дополнительные компоненты. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-container {
  position: relative;
}
/* Стиль для дополнительного контейнера ErrorDialog, содержащего кнопки сворачивания и закрытия окна. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls {
  position: absolute;
  top: -22px;
  right: 2px;
}
/* Стиль для кнопок сворачивания и закрытия окна дополнительного контейнера ErrorDialog. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a {
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
}
/* Стиль для картинки кнопки закрытия ErrorDialog. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-close {
  background: transparent url(../images/x-2panel.png) left top no-repeat;
}
/* Стиль для картинки кнопки закрытия ErrorDialog, на которую наведен курсор. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-close:hover {
  background: transparent url(../images/x-2panel.png) right top no-repeat;
}
/* Стиль для картинки кнопки сворачивания ErrorDialog. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-minimize {
  background: transparent url(../images/min-4panel.png) left top no-repeat;
}
/* Стиль для картинки кнопки сворачивания ErrorDialog, на которую наведен курсор. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-minimize:hover {
  background: transparent url(../images/min-4panel.png) right top no-repeat;
}
/* Стиль для картинки кнопки разворачивания ErrorDialog. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-maximize {
  background: transparent url(../images/min-4panel.png) left bottom no-repeat;
}
/* Стиль для картинки кнопки разворачивания ErrorDialog, на которую наведен курсор. */
.jepRia-extras-WindowBox .jepRia-extras-dialog-controls a.jepRia-extras-dialog-maximize:hover {
  background: transparent url(../images/min-4panel.png) right bottom no-repeat;
}

/* Стиль для обычной вкладки панели вкладок. */
.gwt-TabLayoutPanel .jepRia-TabLayoutPanelTab-common {
  margin-left: 2px;
  border: 1px solid #8DB2E3;
  background-image: url(../images/themes/default/tabs/bg.png);
  background-color: white;
  background-repeat: repeat;
  background-position: 0 100%;
}

/* Стиль для корректного отображения границ у панели вкладок. */
.gwt-TabLayoutPanelTabs{
  border-bottom: 1px solid #99BBE8;
}

/* Перекрытие стиля для невыбранной вкладки панели вкладок. */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  font-weight: normal;
  z-index: 1;
}

/* Перекрытие стиля для выделенной вкладки панели вкладок. */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: bold;
  border-bottom-color: #D7E4F3;
  background: #D7E4F3;
}

/* Отключение рамки снизу у активной вкладки панели вкладок. */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected :after {
  content: " ";
  display: block;
  background: #D7E4F3;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

/* Перекрытие стилей для выпадающего списка. */
.gwt-SuggestBoxPopup {
  z-index: 5100;
}

.gwt-SuggestBoxPopup .item {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  height: 18px;
  padding: 0px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleCenter {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  border: 0px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  border: 0px;
}
.jepRia-ComboBox-selectImage {
  width: 17px;
  height: 21px;
  border-color: #ccc;
  border-top-color: #999;
  border-bottom: 1px solid #b5b8c8;
  padding: 0px;
  cursor: pointer;
  vertical-align: top;
  position: absolute;
}

/* Стили области ввода текста поля выбора опций */
.jepRia-ComboBox-Input{
  padding: 0px;
  margin: 0px;
}

/* Стиль для индикаторов, располагающихся справа от поля. */
.jepRia-Field-Icon {
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 3px;
  cursor: pointer;
}

/* Основной стиль шрифта приложения, применяемый ко всем элементам формы. */
.jepRia-FontStyle {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
}

/* Стиль для компонента логического выбора. */
.jepRia-CheckBox-Input {
  position: relative;
  top: 4px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

/* Стиль для поля области ввода текста. */
.jepRia-TextArea-Input {
  resize: none;
  box-sizing: border-box;
  overflow: auto;
  float: left;
}

/* Стиль для индикатора обязательности поля. */
.jepRia-Field-Mandatory {
  color: red;
  cursor: pointer;
}

/* Стили для поля со списком опций для логического выбора. */
.jepRia-ListField-Input-common {
  border: 1px solid #B5B4B4;
  float: left;
}

.jepRia-ListField-Input {
  padding: 0px;
  background: white;
  color: #000;
  border: 1px solid white;
  cursor: pointer;
}

td.jepRia-ListField-Input:hover {
  border: 1px dotted #B5B4B4;
  background: #F1F1F1;
}

.jepRia-ListField-Input .item {
  overflow: hidden;
  height: 20px;
  display: block;
  cursor: pointer;
  white-space: nowrap; 
  padding-top: 1.5px;
}

.jepRia-ListField-Input div {
  padding-right: 20px;
}

.jepRia-ListField-emptyText {
  position: absolute;
  left: 5px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* Стили для флага "Выбрать все" поля JepListField. */
.jepRia-ListField-SelectAllCheckBox {
  margin-left: 2px;
}

.jepRia-ListField-SelectAllCheckBox label {
  margin-left: 3px;
}

/* Стиль для поля древовидного логического выбора. */
.jepRia-TreeField-Input {
  float: left;
  background: url(../images/loading.gif) no-repeat center center;
}

/* Стили для компонента содержащего два списка опций. */
.jepRia-DualListBox > tbody > tr > td {
  height:100%;
}

.jepRia-DualListBox .gwt-ListBox {
  height:100%;
  border:#b5b4b4 1px solid;
}

/* Стили для кнопок центральной панели компонента содержащего два списка опций. */
.jepRia-DualListBox .gwt-Button {
  border:none;
  padding:1px 1px 1px 1px;
  background-color: transparent;
  background-image: none;
}

.jepRia-DualListBox .gwt-Button:hover {
  border:none;
}

.jepRia-DualListBox .gwt-Button:active {
  border:none;
}

/* Стиль для поля выбора только одной опции из списка. */
.jepRia-RadioField-Input {
  float: left;
  border: 1px solid #ccc;
}

.jepRia-RadioField-Input .item {
  cursor: pointer;
}

/* Стиль для поля расширенного редактирования текста. */
.jepRia-RichTextEditorField-Input {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
  float: left;
}

/* Стили для всплывающих окон тулбара поля расширенного редактирования текста. */
.jepRia-RichTextToolbarColorMenu {
  border: 1px solid #BBBBBB;
  background-color: white;
  z-index: 5100;
}
.jepRia-RichTextToolbarImageMenu {
  border: 1px solid #BBBBBB;
  background-color: white;
  z-index: 5100;
}


/* Стили для рамки набора полей. */
fieldset.jepRia-FieldSet {
  border: 1px solid #99BBE8;
  margin: 5px;
}

/* Стиль для заголовка набора полей. */
fieldset.jepRia-FieldSet legend {
  color: #15428B;
  font-size: 11px;
  font-weight: bold;
  font-family: tahoma,arial,helvetica,sans-serif;
}

/* Стиль для заголовка разворачиваемой панели. */
.gwt-DisclosurePanel .header td {
  color: #15428B;
  font-family: tahoma;
  font-size: 11px;
  font-weight: bold;
}

/* Стиль для наследников "оконных" компонентов. */
.gwt-DialogBox .Caption {
  font-family: tahoma, arial, helvetica, sans-serif;
}

/* Main container for Test Build Message. */
div.jepRia-testBuildMessage {
  padding: 10px;
  z-index: 9100;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 50px;
}

/* Notification container for Test Build Message. */
div.jepRia-testBuildMessage div.jepRia-testBuildMessageNotification {
  background-color: #6690C9;
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
  zoom: 1;
  width: 235px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

/* Styles for Test Build error. */
div.jepRia-testBuildMessage div.jepRia-testBuildMessageNotification.error {
  background: #ed6060;
  color: #fff;
}

/* Styles for Test Build header. */
div.jepRia-testBuildMessage div.jepRia-testBuildMessageNotification div.jepRia-testBuildMessageHeader {
  font-weight: bold;
}

/* Styles for Test Build closer. */
div.jepRia-testBuildMessage div.jepRia-testBuildMessageNotification div.jepRia-testBuildMessageClose {
  z-index: 9100;
  float: right;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

img {
  border: 0px;
}
/* Padding for label. */
.gwt-HTML {
  padding: 2px;
}
/* Styles for disabled elements. */
.jepRia-Field-disabled {
  cursor: default;
  opacity: .6; /* Css standard. */
  -moz-opacity: .6; /* Very old mozilla/netscape browsers. */
  -khtml-opacity: 0.6; /* Very old safari browsers. */
  filter: alpha(opacity = 60); /* IE. */
}

/* Стили поля, поддерживающего несколько рабочих состояний. */
.jepRia-MultiStateField {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

/* Стили карты редактирования поля чекбокса. */
.jepRia-CheckBox .jepRia-MultiStateField-EditableCard {
  display: block;
}

/* Styles for editable and view cards label. */
.jepRia-MultiStateField-Label {
  text-align: right;
}
/* Styles for view card. */
.jepRia-MultiStateField-ViewCard {
}

/* Общие стили карт редактирования. */
.jepRia-MultiStateField-EditableCard {
  padding: 0px;
  margin: 0px;
}

/* Style for datebox popup window. */
.jepRia-dateBoxPopup {
    z-index: 5100;
}

/* Стили для сообщения о необходимости включить JavaScript в браузере. */
.jepRia-noJavaScriptEnabledMessage {
  width: 22em;
  position: absolute;
  left: 50%;
  margin-left: -11em;
  color: red;
  background-color: white;
  border: 1px solid red;
  padding: 4px;
  font-family: sans-serif;
}

/* Стили поля JepLargeField для карты редактирования */
.jepRia-jepLargeField .jepRia-MultiStateField-EditableCard {
  padding-right: 20px; /* без отступа справа некорректное отображение */
}

/* Стили панели карт поля вертикальной ориентации. */
.jepRia-vPanelStyle {
  display: inline-block;
}

/* Стили наименования поля вертикальной ориентации. */
.jepRia-vPanelStyle .jepRia-MultiStateField-Label {
  text-align: left;
}

/* Стили наименования поля карты редактирования вертикальной ориентации. */
.jepRia-editablePanel.jepRia-vPanelStyle .jepRia-MultiStateField-Label {
  margin-bottom: 2px;
}

/* Стили панели карт поля горизонтальной ориентации. */
.jepRia-hPanelStyle {
  display: inline-flex;
}

.jepRia-AutoHeight {
  min-height: 20px; 
}